html body {
	font-family: 'Good Headline Pro', 'Oswald', sans-serif;
}



.container-fluid{
	margin-top: 51px;
	background-color: #E8D392;
	height: 100%;
}

.main-row{
	/*
	height: 100%;
	*/
}

.player-row{
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #877B55;
	min-height: 80px;

}
.player-col{
	border-right: 1px;
	border-right-style: solid;
	border-right-color: #877B55;
	min-height: 85px;
	padding-left: 15px;
	padding-top: 15px;
}

.main-bar-yello{
	height: 30px;
	background-color:  #EDC218;
}
.main-bar-red{
	height: 30px;
	background-color: #E30E1F;
}

.navbar{
	background-color:#097487;
	border-color: #097487;
}

.navbar-fixed-top {
	background-color: #097487;
	border-color: #097487;
}
.navbar-brand{
	background-color:#097487;
	color: #E8D392;
}

.save-button{
	background-color: #E30E1F;
	float: right;
	width: 100px;
	height: 30px;
	padding-left: 10px;
}

.dropdown-menu{
	background-color: #E30E1F ;
}

a {
	color: #E8D392;
}

i{
	color: #877B55;
}

.player-div{

	border-bottom: 2px;
	border-bottom-color: #877B55;
}

canvas{
	height: 80px;
	width: 100%;
}